
@{
    ViewBag.Title = "ViewCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/MyTemplate/css/cart.css" rel="stylesheet" type="text/css" media="all" />

</div>


<div class="cart-content">
    <div class="cart-items">
        <div class="item-detail cart-header">
            <div class="item-name">
                <p>Your Cart (10 Products)</p>                
            </div>
            <div class="item-price">
                <p>Product price</p> 
            </div>
            <div class="item-quantity">
                <p>Product quantity</p>                   
            </div>
        </div>
        <div class="item-detail">

        </div>
        <div class="item-detail">

        </div>
        <div class="item-detail">

        </div>
    </div>
    <div class="checkout-cart">

    </div>

</div>

